## Data Wrangling

#### Import libraries

In [14]:
import pandas as pd
from sqlalchemy import create_engine

#### Extract: Read the data

In [15]:
data_path = "data_set/amz_uk_processed_data.csv"
df = pd.read_csv(data_path)

print("shape: ", df.shape)

shape:  (2222742, 10)

In [16]:
# print(df.head())
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2222742 entries, 0 to 2222741
Data columns (total 10 columns):
 #   Column             Dtype
---  ------             -----
 0   asin               object
 1   title              object
 2   imgUrl             object
 3   productURL         object
 4   stars              float64
 5   reviews            int64
 6   price              float64
 7   isBestSeller       bool
 8   boughtInLastMonth  int64
 9   categoryName       object
dtypes: bool(1), float64(2), int64(2), object(5)
memory usage: 154.7+ MB
None

#### Transform: Check for missing values

In [27]:
print(df[df.duplicated()])
'''We don't have duplicate values, so we don't need to drop any tuples.'''
# df.drop_duplicates()

Empty DataFrame
Columns: [asin, title, imgUrl, productURL, stars, reviews, price, isBestSeller, boughtInLastMonth, categoryName]
Index: []

"We don't have duplicate values, so we don't need to drop any tuples."

In [26]:
print(df.isnull().sum()) 

'''We don't have missing values, so we don't need to drop them.'''
# df.dropna(inplace=True)

asin                 0
title                0
imgUrl               0
productURL           0
stars                0
reviews              0
price                0
isBestSeller         0
boughtInLastMonth    0
categoryName         0
dtype: int64

"We don't have missing values, so we don't need to drop them."

#### Load: Load the data into a PostgreSQL database

In [18]:

engine = create_engine('postgresql://postgres:root@localhost:5432/amazon_uk_db')
df.to_sql("amazon_uk_products", engine, index=False, if_exists='replace')

#### Read and check the loaded data

In [19]:
df_from_db = pd.read_sql("SELECT * FROM amazon_uk_products", engine)
print(df_from_db.head())

         asin                                              title  \
0  B09B96TG33  Echo Dot (5th generation, 2022 release) | Big ...
1  B01HTH3C8S  Anker Soundcore mini, Super-Portable Bluetooth...
2  B09B8YWXDF  Echo Dot (5th generation, 2022 release) | Big ...
3  B09B8T5VGV  Echo Dot with clock (5th generation, 2022 rele...
4  B09WX6QD65  Introducing Echo Pop | Full sound compact Wi-F...

                                              imgUrl  \
0  https://m.media-amazon.com/images/I/71C3lbbeLs...
1  https://m.media-amazon.com/images/I/61c5rSxwP0...
2  https://m.media-amazon.com/images/I/61j3SEUjMJ...
3  https://m.media-amazon.com/images/I/71yf6yTNWS...
4  https://m.media-amazon.com/images/I/613dEoF9-r...

                               productURL  stars  reviews  price  \
0  https://www.amazon.co.uk/dp/B09B96TG33    4.7    15308  21.99
1  https://www.amazon.co.uk/dp/B01HTH3C8S    4.7    98099  23.99
2  https://www.amazon.co.uk/dp/B09B8YWXDF    4.7    15308  21.99
3  https://www.amazon.co.uk/dp/B09B8T5VGV    4.7     7205  31.99
4  https://www.amazon.co.uk/dp/B09WX6QD65    4.6     1881  17.99

   isBestSeller  boughtInLastMonth    categoryName
0         False                  0  Hi-Fi Speakers
1          True                  0  Hi-Fi Speakers
2         False                  0  Hi-Fi Speakers
3         False                  0  Hi-Fi Speakers
4         False                  0  Hi-Fi Speakers